<?php

use Cake\Core\Configure;

$ga_code = Configure::read('ga_code');
$script_inject = <<<EOD
<script async src="https://www.googletagmanager.com/gtag/js?id=$ga_code"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '$ga_code');
</script>
EOD;
echo $script_inject;
?>